<html>
    <head>
        <title>Thing {{thing.id}}</title>
    </head>
    <body>
        <h1>Thing {{thing.id}}</h1>
        <div>
            <p>ID: {{thing.id}}</p>
            <p>Description: {{thing.description}}</p>
        </div>
    </body>
</html>

